* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

#thumbnail-container {
    padding: 10px;
    width:fit-content;
    min-width: 500px;
    background-color: rgba(0, 0, 0);
    border: 2px solid white;
    position: absolute;
    top:100px;
    left: 40%;
}

.thumb-image {
    width: 70px;
    height: 50px;
    padding: 2px;
    cursor: pointer;
    margin: 10px;
}

.thumb-image:hover {
    border: 1px solid rgb(149, 123, 123);
    transition: transform 0.3s;
    scale: 1.2;   
}

#pic-container {
    grid-area: 5 / 6 / 1 / 1;
}

#pic-container img {
    width: 100%;
    height: 100vh;
    object-fit: fill;
    overflow: hidden;
}

.thumb-btns {
    padding: 10px;
    border-radius: 2em;
    cursor: pointer;
    z-index: 100;
}

footer {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: aliceblue;
}

#right-arrow, #left-arrow {
    position: absolute;
    bottom: 25%;
}

#left-arrow {
    position: absolute;
    left:10px;
}
#right-arrow {
    right: 10px;
}


@media (min-width: 320px ) {

    #thumbnail-container {
        left: 2.5%;
        padding: 0;
        min-width: 300px;
    }
    
    #right-arrow {
        right: -20px;
        padding: 7px;
    }
    
    #left-arrow {
        padding: 7px;
        left: -17px;
    }
    #pic-container img {
        object-fit: scale-down;
    }
    body {
        background-color: black;
    }
}





































